<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Add Goal</title>
		<link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css" />
	</head>
	<body>
		<div style="padding: 2px;">
			<ul class="nav nav-pills flex-column col-sm-2" >
				<li class="nav-item">
					<a class="nav-link active"> <b style="color:#66ffd9" > User: </b> {{user}} <b style="color:#66ffd9"> As: </b> {{role}}</a>
				</li>			
			</ul>
			<div align='right' style="margin-top: -30px;">
				<a href="{% url 'ogunsoladebayoscrumy:addgoal' %}"><button type='button' class='btn btn-link'> Add a new goal</button></a> 
			</div>
		</div>
        {% if success == True %}
            <div style="margin: 8px" class="alert alert-dismissible alert-info col-sm-4">
                <button type="button" class="close" onclick= data-dismiss="alert">&times;</button>
                <strong> Goal added Successfully </strong>
            </div>
        {% endif %}
		<div>
			<form method="post">
				{% csrf_token %}
				<fieldset>
                    <legend style="margin:20px"> Add Goal </legend>
                    <div class='col-sm-4'>
                        <div class="form-group">
                            <label for="goalName">Goal Name:</label>
                            {{ form.goal_name }}
                        </div>
                        <div class="form-group">
                            <label for="user">Select User</label>
                            {{ form.user }}
                        </div>
                        <div class="form-group">
                            <label for="created-by">Created By:</label>
                            {{ form.created_by }}
                        </div>
                        <div class="form-group">
                            <label for="owner">Owner:</label>
                            {{ form.owner }}
                        </div>
                        <div class="form-group">
                            <label for="status">Select a status</label>
                            {{ form.goal_status }}
                        </div>
                        <input class="btn btn-primary" type="submit" value="Add Goal">
                    </div>
				</fieldset>
			</form>
			{% if form.errors %}
                <div style="margin: 8px" class="alert alert-dismissible alert-danger col-sm-4">
                    <button type="button" class="close" onclick= data-dismiss="alert">&times;</button>
                    <strong>Error!</strong> please fill the form correctly.
                </div>
            {% endif %}
		</div>
        <a href="/ogunsoladebayoscrumy/accounts/login"><button type='button' class='btn btn-link'> Login</button></a> 

	</body>
</html>
