<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Sign Up</title>
		<link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
	</head>
	<body>
        {% if success == True %}
            <div style="margin: 8px" class="alert alert-dismissible alert-info col-sm-4">
                <button type="button" class="close" onclick= data-dismiss="alert">&times;</button>
                <strong> Your account has been created successfully </strong>
            </div>
        {% endif %}
		<div>
			<form method="post">
				{% csrf_token %}
                <fieldset>
                    <legend style="margin:20px"> Sign Up </legend>
                    <div class='col-sm-4'>
                        <div class="form-group">
                            <label for="goalName">First Name:</label>
                            {{ form.first_name }}
                        </div>
                        <div class="form-group">
                            <label for="user">Last Name:</label>
                            {{ form.last_name }}
                        </div>
                        <div class="form-group">
                            <label for="goalName">Email:</label>
                            {{ form.email }}
                        </div>
                        <div class="form-group">
                            <label for="goalName">Username:</label>
                            {{ form.username }}
                        </div>
                        <div class="form-group">
                            <label for="goalName">Password:</label>
                            {{ form.password }}
                        </div>
                        <input class="btn btn-primary" type="submit" value="Sign Up" />
                    </div>                                        
                </fieldset>
			</form>
			{% if form.errors %}
                <div style="margin: 8px" class="alert alert-dismissible alert-danger col-sm-4">
                    <button type="button" class="close" onclick= data-dismiss="alert">&times;</button>
                    <strong>Error!</strong> please fill the form correctly.
                </div>
            {% endif %}
		</div>
		<a href="/ogunsoladebayoscrumy/accounts/login"><button type='button' class='btn btn-link'> Login</button></a> 
	</body>
</html>
